@model FFGames.Web.Models.Home.HomeVM

<h2>Sessions</h2>

<div class="row">
    @foreach (var session in Model.Sessions)
    {
        <div class="col-lg-2">
            <div class="panel panel-primary">
                <div id="panel-heading-@session.Id" class="panel-heading">@session.Name</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-8">Participants:</div>
                        <div class="col-lg-3">@session.Participants</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8">Games:</div>
                        <div class="col-lg-3">@session.GamesAmount</div>
                    </div>
                </div>
                @if (session.UserIsInSession)
                {
                    <a href="@Url.Action("LeaveSession", "Session", new { id = session.Id })"><div class="panel-heading panel-button panel-button-leave">Leave session</div></a>
                }
                else
                {
                    <a href="@Url.Action("EnterSession", "Session", new { id = session.Id })"><div class="panel-heading panel-button panel-button-enter">Enter session</div></a>
                }
            </div>
        </div>

        if (session.UserIsInSession)
        {
            <script>
                $('#panel-heading-@(session.Id)').click(function () {
                    window.location = '@Url.Action("Session", "Session", new { id = session.Id })';
                });
            </script>

            <style>
                #panel-heading-@(session.Id):hover {
                    cursor: pointer;
                    background-color: blue !important;
                }
            </style>
        }
    }
</div>

<style>
    .panel-button {
        border-radius: 3px;
        margin: 5px;
        color: white !important;
    }

    .panel-button:hover {
        cursor: pointer;
    }

    a:hover {
        text-decoration: none;
    }

    .panel-button-enter {
        background-color: green !important;
    }

    .panel-button-enter:hover {
        background-color: darkcyan !important;
    }

    .panel-button-leave {
        background-color: darkred !important;
    }

    .panel-button-leave:hover {
        background-color: orangered !important;
    }
</style>